<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spitter</title>
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/static/css/style.css}"/>
</head>
<body onload='document.f.username.focus();'>
<!--<div id="header" th:include="page :: header"></div>-->
<div id="content">
    <form name='f' th:action='@{/login}' method='POST'>
        <table>
            <tr>
                <td>User:</td>
                <td><input type='text' name='username' value=''/></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type='password' name='password'/></td>
            </tr>
            <tr>
                <td colspan='2'>
                <input name="submit" type="submit" value="Login"/></td>
            </tr>
            <tr>
                <td>
                    <!--/*
                        Spring Docs excerpt: Upon authentication if the HTTP parameter named "remember-me" is sent,
                        the user will be remembered.
                    */-->
                    <input id="remember_me" name="remember-me" type="checkbox"/>
                </td>
                <td>
                    <label for="remember_me" class="inline">Remember me</label>
                </td>
            </tr>
        </table>


        <!--/*
            If we are using login page with login form, we need to always include the CSRF token in the login form as a
            hidden parameter manually in the code. For the remaining forms, CSRF token will be automatically added to
            forms with hidden input.
        */-->

    </form>
</div>
<!--<div id="footer" th:include="page :: copy"></div>-->
</body>
</html>