<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pizza Cloud Application</title>
    <!--
    /*
    Static content in a Spring Boot application is served from the /static directory at the root of the classpath
    */
    -->
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<h1>Design your pizza!</h1>
<img th:src="@{/images/MyLogo.png}"/>
<!--
/*
The <form> does not declare an action attribute. This means that when the form is submitted, the browser will gather up
all the data in the form and send it to the server in an HTTP POST request to the same path for which a GET request
displayed the form the /design path
*/
-->
<form method="POST" th:object="${designedPizza}">
    <span class="validationError"
          th:if="${#fields.hasErrors('ingredients')}"
          th:errors="*{ingredients}">Ingredient Error</span>

    <div class="grid">
        <div class="ingredient-group" id="doughs">
            <h3>Pick your Dough:</h3>
            <div th:each="ingredient : ${dough}">
                <!--
                /*
                These fields in the form correspond directly to the ingredients properties of the Pizza class.
                */
                -->
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>
        <div class="ingredient-group" id="cheeses">
            <h3>Choose your Cheese:</h3>
            <div th:each="ingredient : ${cheese}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>
        <div class="ingredient-group" id="toppings">
            <h3>Determine your Toppings:</h3>
            <div th:each="ingredient : ${topping}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>
    </div>
    <div>
        <h3>Name your Pizza creation:</h3>
        <!--
        /*
        These fields in the form correspond directly to the name property of the Pizza class.
        */
        -->
        <input type="text" th:field="*{name}"/>
        <br/>
        <button>Submit your Pizza</button>
    </div>
</form>
</body>
</html>